:root {
    --primary-color: #1c1c2e;
    --secondary-color: #386486;
    --tertiary-color: #8ec2c2;
    --quaternary-color: #d3d895;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1250px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* HEADER/NAV BAR BEGIN */
header {
    padding: 20px 35px;
    margin-bottom: 10px;
    background-image: url(./images/low-poly-grid-haikei-flip.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-shadow: 2px 2px 5px var(--secondary-color);
}

header h1 {
    font-size: 1.5vw;
}

header a {
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.5vw;
    color: var(--primary-color);
}

header nav ul li a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

/* HEADER/NAV BAR END */

/* ABOUT ME BEGIN */
.about-me {
    background-color: var(--tertiary-color);
    padding: 15px;
    margin-bottom: 10px;
}

.about-me-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;

}

.about-me-content img {
    border: 3px solid var(--secondary-color);
    max-width: 33%;
}

.about-me-content article {
    font-size: 1.25vw;
    font-weight: lighter;
    text-align: left;
    margin: 10px, 0;
    max-width: 65%;
}
/* ABOUT ME END */

/* MY WORK BEGIN */
.my-work {
    padding: 15px;
    background-image: url(./images/blurry-gradient-haikei.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.my-work-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project img {
    margin: 10px;
    border: 3px solid var(--secondary-color);
    max-width: 25vw;
}

.project-1 img {
    max-width: 40vw;
}

.project {
    position: relative;
}

.project-name {
    padding: 5px;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-size: 1.25vw;
    position: absolute;
    top: 0;
    left: auto;
    margin: 10px;
    text-shadow: 2px 2px 5px var(--primary-color);
}

.project-name span {
    font-weight: lighter;
}
/* MY WORK END */


/* CONTACT ME BEGIN */
.contact-me {
    background-color: var(--tertiary-color);
    padding: 15px;
    margin-bottom: 10px;
}

.contact-me-content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.contact-me-content ul li {
    list-style: none;
    font-size: 1.25vw;
    padding: 10px 15px;
}

.contact-me-content ul li a {
    color: var(--secondary-color);
}

.social-icon img {
    border: 1px solid var(--primary-color)
    border: 25px;
    width: 3.5vw;
}
/* CONTACT ME END */


/* FOOTER BEGIN */
.footer {
    padding: 20px 35px;
    margin-bottom: 10px;
    background-image: url(./images/low-poly-grid-haikei.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--secondary-color);
    text-align: center;
}

.footer h2 {
    font-size: 1.5vw;
}

/* FOOTER END */

/* UTILITIES */
body h2 {
    font-size: 1.5vw;
    margin-bottom: 10px;
    text-shadow: 2px 2px 10px var(--secondary-color);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 875px) {
    
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header {
        justify-content: center;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .about-me-content img {
        border: 3px solid var(--secondary-color);
        max-width: 100%;
    }

    .about-me-content article {
        max-width: 100%;
        text-align: justify;
    }

    .project img {
        margin: 10px;
        border: 3px solid var(--secondary-color);
        max-width: 75vw;
    }

    .project-1 img {
        max-width: 90vw;
    }

    .project-name {
        font-size: 4vw;
    }

    .social-icon img {
        width: 12vw;
    }
    
    .footer h2 {
        font-size: 4vw;
    }
}