:root {
    --primary-color: #1c1c2e;
    --secondary-color: #386486;
    --tertiary-color: #8ec2c2;
    --quaternary-color: #d3d895;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HEADER/NAV BAR BEGIN */
header {
    padding: 20px 35px;
    margin-bottom: 10px;
    background-image: url(./images/blurry-gradient-haikei.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

header h1 {
    font-size: 32px;
}

header a {
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 28px;
    color: var(--secondary-color)
}
/* HEADER/NAV BAR END */


/* ABOUT ME BEGIN */
.about-me {
    margin-bottom: 10px;
    background-color: var(--tertiary-color);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image {
    border: 3px solid var(--secondary-color);
    max-height: 400px;
    margin-top: 10px;
}

.heading {
    font-size: 32px;
}

.paragraph {
    display: flex;
    text-align: center;
    padding: 0, 20px, 10px, 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
/* ABOUT ME END */

/* MY WORK BEGIN */
.my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-image: url(./images/low-poly-grid-haikei.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* MY WORK END */

/* CONTACT ME BEGIN */
.contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary-color);
    margin-bottom: 10px;
}
/* CONTACT ME END */

/* UTILITY */
img {
    max-width: 400px;
}